{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true,
        "directory": "./tsconfig.json"
      }
    }
  },
  // "plugins": ["@typescript-eslint", "deprecation"],
  "rules": {
    // "deprecation/deprecation": "warn"
  }
}
